body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  color: white;
  font-size: 1rem;
  font-family: monospace;
  user-select: none;
}

#info-left {
  position: absolute;
  top: 20px;
  left: 25px;
}
#info-right {
  position: absolute;
  top: 20px;
  right: 25px;
  text-align: right;
}

#bomb-grab-area {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  cursor: grab;
}
